<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Razor Admin</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css"/>
</head>
<body>
<header><h1>Razor Admin</h1></header>
<main class="container">
    @RenderBody()
</main>
</body>
</html>
